  
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer{
    background-color: rgba(151, 151, 151, 0.747);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgba(82, 6, 92, 0.747) ;
    color:floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
    background-color: #333366;
}

.tab-content{
    border-left: 1px solid #f6e1e1;
    border-right: 1px solid #f6e1e1;
    border-bottom: 1px solid #f6e1e1;
    padding: 10px;
}

.carousel {
    background:rgba(82, 6, 92, 0.747);
}

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal .modal-header {
  background-color: #512DA8;
  color: floralwhite; }
  .modal .modal-header button {
    color: floralwhite; }

.logo {
    height: 45px;
}

.logo1 {
    height: 120px;
}
